<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <string>http://foo.com/blah_blah</string>
        <string>http://foo.com/blah_blah/</string>
        <string>http://foo.com/blah_blah_(wikipedia)</string>
        <string>http://foo.com/blah_blah_(wikipedia)_(again)</string>
        <string>http://www.example.com/wpstyle/?p=364</string>
        <string>http://✪df.ws/123</string>
        <string>http://userid:password@example.com:8080</string>
        <string>http://userid:password@example.com:8080/</string>
        <string>http://userid@example.com</string>
        <string>http://userid@example.com/</string>
        <string>http://userid@example.com:8080</string>
        <string>http://userid@example.com:8080/</string>
        <string>http://userid:password@example.com</string>
        <string>http://userid:password@example.com/</string>
        <string>http://142.42.1.1/</string>
        <string>http://142.42.1.1:8080/</string>
        <string>http://➡.ws/䨹</string>
        <string>http://⌘.ws</string>
        <string>http://⌘.ws/</string>
        <string>http://foo.com/blah_(wikipedia)#cite-1</string>
        <string>http://foo.com/blah_(wikipedia)_blah#cite-1</string>
        <string>http://foo.com/unicode_(✪)_in_parens</string>
        <string>http://foo.com/(something)?after=parens</string>
        <string>http://☺.damowmow.com/</string>
        <string>http://code.google.com/events/#&amp;product=browser</string>
        <string>http://j.mp</string>
        <string>ftp://foo.bar/baz</string>
        <string>http://foo.bar/?q=Test%20URL-encoded%20stuff</string>
        <string>http://مثال.إختبار</string>
        <string>http://例子.测试</string>
        <string>http://उदाहरण.परीक्षा</string>
        <string>http://-.~_!$&amp;&apos;()*+,;=:%40:80%2f::::::@example.com</string>
        <string>http://1337.net</string>
        <string>http://a.b-c.de</string>
        <string>http://223.255.255.254</string>
        <string>https://www.example.com/foo/?bar=baz&amp;inga=42&amp;quux</string>
        <string>https://g.cn</string>
        <string>https://z.cn</string>
        <string>foo.com/blah_blah</string>
        <string>foo.com/blah_blah/</string>
        <string>foo.com/blah_blah_(wikipedia)</string>
        <string>foo.com/blah_blah_(wikipedia)_(again)</string>
        <string>www.example.com/wpstyle/?p=364</string>
        <string>✪df.ws/123</string>
        <string>userid:password@example.com:8080</string>
        <string>userid:password@example.com:8080/</string>
        <string>userid@example.com</string>
        <string>userid@example.com/</string>
        <string>userid@example.com:8080</string>
        <string>userid@example.com:8080/</string>
        <string>userid:password@example.com</string>
        <string>userid:password@example.com/</string>
        <string>142.42.1.1/</string>
        <string>142.42.1.1:8080/</string>
        <string>➡.ws/䨹</string>
        <string>⌘.ws</string>
        <string>⌘.ws/</string>
        <string>foo.com/blah_(wikipedia)#cite-1</string>
        <string>foo.com/blah_(wikipedia)_blah#cite-1</string>
        <string>foo.com/unicode_(✪)_in_parens</string>
        <string>foo.com/(something)?after=parens</string>
        <string>☺.damowmow.com/</string>
        <string>code.google.com/events/#&amp;product=browser</string>
        <string>j.mp</string>
        <string>foo.bar/baz</string>
        <string>foo.bar/?q=Test%20URL-encoded%20stuff</string>
        <string>مثال.إختبار</string>
        <string>例子.测试</string>
        <string>例子.测试.用例</string>
        <string>test.example</string>
        <string>test.case.example</string>
        <string>उदाहरण.परीक्षा</string>
        <string>-.~_!$&amp;&apos;()*+,;=:%40:80%2f::::::@example.com</string>
        <string>1337.net</string>
        <string>a.b-c.de</string>
        <string>223.255.255.254</string>
        <string>g.cn</string>
        <string>z.cn</string>
        <string>www.example.com/foo/?bar=baz&amp;inga=42&amp;quux</string>
        <string>http://</string>
        <string>http://.</string>
        <string>http://..</string>
        <string>http://../</string>
        <string>http://?</string>
        <string>http://??</string>
        <string>http://??/</string>
        <string>http://#</string>
        <string>http://##</string>
        <string>http://##/</string>
        <string>http:///a</string>
        <string>foo.com</string>
        <string>rdar://1234</string>
        <string>h://test</string>
        <string>ftps://foo.bar/</string>
        <string>http://-error-.invalid/</string>
        <string>http://a.b--c.de/</string>
        <string>http://-a.b.co</string>
        <string>http://a.b-.co</string>
        <string>http://0.0.0.0</string>
        <string>http://10.1.1.0</string>
        <string>http://10.1.1.255</string>
        <string>http://224.1.1.1</string>
        <string>http://1.1.1.1.1</string>
        <string>http://123.123.123</string>
        <string>http://3628126748</string>
        <string>http://.www.foo.bar/</string>
        <string>http://www.foo.bar./</string>
        <string>http://.www.foo.bar./</string>
        <string>http://10.1.1.1</string>
        <string>http://10.1.1.254</string>
        <string>https://</string>
        <string>https://.</string>
        <string>https://..</string>
        <string>https://../</string>
        <string>https://?</string>
        <string>https://??</string>
        <string>https://??/</string>
        <string>https://#</string>
        <string>https://##</string>
        <string>https://##/</string>
    </array>
</plist>
